<h2>Frame order</h2>

<div class="tooltip tool-center" ng-click="$event.stopPropagation()"
	ng-show="showtooltipCenter">
	<h3 class="new-order">New frame order</h3>
	<input type="text" class="form-control" required="" autofocus=""
		ng-model="frameOrderName" placeholder="Order name" /> <input
		type="text" class="form-control" required="" autofocus=""
		ng-model="frameOrderStartTime" placeholder="Start date" /> <input
		type="text" class="form-control" required="" autofocus=""
		ng-model="frameOrderExecutionTime" placeholder="Execution date" />
	<textarea class="form-control new-order-text-area" rows="3"
		ng-model="frameOrderComment" placeholder="Comment"></textarea>
	<button type="button" class="btn btn-info" style="float: right"
		ng-click="create(); toggleTooltipCenter($event)">
		<span class="glyphicon glyphicon-floppy-disk"></span> Save
	</button>
</div>
<button type="button" ng-click="toggleTooltipCenter($event)"
	class="btn btn-success">
	<span class="glyphicon glyphicon-plus"></span> Add
</button>
<div class="tree-holder">
	<ul ng-repeat="frameOrder in frameOrders" type="none">
		<div class="header" title="{{frameOrder.frameOrderComment}}">
			<span class="name">{{frameOrder.frameOrderName}}</span> 
			<span
				 >{{frameOrder.frameOrderStartTime| amDateFormat:'DD-MM-YYYY'}}
				to {{frameOrder.frameOrderExecutionTime| amDateFormat:'DD-MM-YYYY'}}</span>
				<button type="button" class="btn btn-xs"
				ng-click='addOrder(frameOrder, order)' title="New order">
				<span class="glyphicon "></span>
			</button>
			<button type="button" class="btn btn-danger btn-xs"
				ng-click='removeFrameOrder(frameOrder)' title="Remove">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
		<li></li>
	</ul>
</div>