<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/klingel-orgatool.log</File>
		<encoder>
			<pattern>%d [%t] %-5p %c - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>${catalina.base}/logs/klingel-orgatool.log.%i
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.intexsoft.slave" level="ALL" />
	<root level="ALL">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>
</configuration>
