.tooltip{
	background-color: #33B44D;
	background-image:linear-gradient(top, #04B431, #04B431);
	box-shadow: 0 1px 1px #ccc;
	border-radius:5px;
	width: 290px;
	padding: 10px;
	position: absolute;
	left: 75px;
	opacity: 1;
}

.tooltip.tool-center{
	left: 85px;
}

.tooltip:after{
	content:'';
	position:absolute;
	border:6px solid #33B44D;
	border-color: transparent #33B44D transparent transparent;
	width:0;
	height:0;
	left: -12px;
	top:20px;
	opacity: 1;
}

.tooltip input{
	border: none;
	width: 100%;
	line-height: 34px;
	border-radius: 3px;
	box-shadow: 0 2px 6px #bbb inset;
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	color: #4B4B4B;
	font-weight: bold;
	outline: none;
	opacity: 1;
}

.tooltip-east{
	background-color: #33B44D;
	background-image:linear-gradient(top, #04B431, #04B431);
	box-shadow: 0 1px 1px #ccc;
	border-radius:5px;
	width: 290px;
	padding: 10px;
	position: absolute;
	right: 80px;
	opacity: 1;
}

.tooltip-east:after{
	content:'';
	position:absolute;
	border:6px solid #33B44D;
	border-color: transparent transparent transparent #33B44D;
	width:0;
	height:0;
	right: -12px;
	top:20px;
	opacity: 1;
}

.tooltip-east input{
	border: none;
	width: 100%;
	line-height: 34px;
	border-radius: 3px;
	box-shadow: 0 2px 6px #bbb inset;
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	color: #4B4B4B;
	font-weight: bold;
	outline: none;
	opacity: 1;
}

.tooltip-work{
	background-color: #12C8E4;
	background-image:linear-gradient(top, #04B431, #04B431);
	box-shadow: 0 1px 1px #ccc;
	border-radius:5px;
	width: 290px;
	padding: 10px;
	position: absolute;
	right: 260px;
	top: 370px;
	opacity: 1;
}

.tooltip-work:after{
	content:'';
	position:absolute;
	border:6px solid #12C8E4;
	border-color: transparent transparent transparent #12C8E4;
	width:0;
	height:0;
	right: -12px;
	top:20px;
	opacity: 1;
}

.tooltip-work input{
	border: none;
	width: 100%;
	line-height: 34px;
	border-radius: 3px;
	box-shadow: 0 2px 6px #bbb inset;
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	color: #4B4B4B;
	font-weight: bold;
	outline: none;
	opacity: 1;
}

.new-order{
	font-family:'Cookie';
	font-size: 35px;
	color: #61E8FF;
	margin-top: 0px;
	text-align: center;
}

.tooltip-work .new-order{
	color: #04B431;
}

.new-order-text-area{
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	color: #4B4B4B;
	font-weight: bold;
}
