<h2>Frame order</h2>

    <div class="tooltip tool-center" ng-click="$event.stopPropagation()" ng-show="showtooltipCenter">
        <h3 class="new-order">New order</h3>
        <input type="text" class="form-control" required="" autofocus="" ng-model="orderName"
               placeholder="Order name"/>
        <input type="text" class="form-control" required="" autofocus="" ng-model="startDate"
               placeholder="Start date"/>
        <input type="text" class="form-control" required="" autofocus="" ng-model="executeDate"
               placeholder="Execution date"/>
        <textarea class="form-control new-order-text-area" rows="3" ng-model="comment"
                  placeholder="Comment"></textarea>
        <button type="button" class="btn btn-info" style="float: right"><span
                class="glyphicon glyphicon glyphicon-floppy-disk"></span> Save
        </button>
    </div>
    <button type="button" ng-click="toggleTooltipCenter($event)" class="btn btn-success"><span
            class="glyphicon glyphicon-plus"></span> Add
    </button>
    <div class="list center" id="Scrollbar3">
        <ul ng-repeat="node in tree.nodes" type="none">
            <div class="center-ul">
                <span contenteditable="true" style="margin-left: 5px">{{node.frameOrderName}}</span>
                <span contenteditable="true" class="order-date">{{node.frameOrderStartTime}} - {{node.frameOrderExecutionTime}}</span>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-danger my-btn center" title="Remove"><span
                                class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>
            </div>
            <li>
                <table class="table table-bordered">
                    <tbody>
                    <tr ng-repeat="child in node.children">
                        <td ng-mouseover="checked=true" ng-mouseleave="checked=false" class="list-element"
                            style="font-size: 19px;">
                            {{child.name}}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="button" ng-show="checked" onclick="myLayout.open('east')"
                                            class="btn btn-info my-btn" title="Edit"><span
                                            class="glyphicon glyphicon-edit"></span></button>
                                </li>
                                <li>
                                    <button type="button" ng-show="checked"
                                            class="btn btn-danger my-btn" title="Remove"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>